.skilltron {
    background-color: rgb(247, 208, 136);
}

.about {
    flex-grow: 1;
}

.skilltron h1 {
    font-size: 50px;
    /* font-family: 'Roboto', sans-serif; */
}

/* h2 {
    font-size: 60px;
} */

.content {
    display: grid;
    font-size: 20px;
    grid-template-columns: 1fr 1fr;
}

.content div {
    margin-bottom: 25px;
    text-align: center;
}

.content strong {
    line-height: 25px;
    padding-bottom: 15px;
    display: block;
}

.content li {
    margin: 0;
    margin-bottom: 10px;
    /* text-align: left; */
    /* margin-left: 25%; */
    /* padding-left: 25%; */
}

@media (min-width: 800px) {
    .content {
        grid-template-columns: 1fr 1fr 1fr;
    }
}