.contron {
    background-color: rgb(166, 238, 166);
}

.contact {
    flex-grow: 1;
}

.contact h1 {
    margin-bottom: 20px;
}
 .contact h4 {
    font-size: 24px;
 }
/* .contact iframe {
    border: 0;
    width: 100%;
    height: 400px;
    margin-bottom: 15px;
} */

.social {
    text-align: center;
    margin-top: 30px;
    /* margin-left: 40%; */
}

p {
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 10px;
}